* {
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.navbar-expand-lg .navbar-collapse {
  margin-left: 400px;
  font-weight: bolder;
}

.nav-item {
  padding-right: 50px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: bold !important;
}

#slider {
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}

.card {
  float: left;
  margin-right: 30px;
}

#btnS {
  position: fixed;
  right: 30px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #45C2B4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

#btnS:active {
  background-color: #45C2B4;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

.header-form bdi {
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0px 12px #45C2B4;
}

.header-form label {
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0px 12px #45C2B4;
}

.header-form h4 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0px 12px #45C2B4;
}

.header-form h3 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0px 12px #45C2B4;
}

a {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #45C2B4;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #92e8df;
  background: -webkit-linear-gradient(left, #92e8df, #92e8df);
  background: -o-linear-gradient(left, #92e8df, #92e8df);
  background: -moz-linear-gradient(left, #92e8df, #92e8df);
  background: linear-gradient(left, #92e8df, #92e8df);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/

.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/

.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

input.input1+.shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}

textarea.input1+.shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #45C2B4;
}

.input1:focus+.shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/

.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #45C2B4;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1024px) {
  .card-body {
    width: 107%;
  }
}

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }
  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }
  .cardVedio {
    height: unset !important;
  }
  .card .card-body:first-child, .card .card-body:nth-child(2), .card .card-body:nth-child(3) {
    width: 100%;
    height: 438px !important;
  }
  .dropdown {
    width: 100%;
  }
  .contact1-pic {
    width: 35%;
  }
  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 23px;
  }
  .cardVedio {
    height: 100%;
  }
  .cardnew {
    height: 100% !important;
  }
  .contact1-pic {
    display: none;
  }
  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 23px;
  }
}

@media (max-width: 480px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 22px;
  }
}

@media (max-width: 444px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 21px;
  }
}

@media (max-width: 425px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 15px;
  }
}

@media (max-width: 280px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 15px;
  }
}

@media (max-width: 248px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 14px;
  }
}

@media (max-width: 236px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 12px;
  }
}

@media (max-width: 220px) {
  .card .card-body p:first-child, .card .card-body p:nth-child(2), .card .card-body p:nth-child(3) {
    font-size: 12px;
  }
}

.main-slider .circle {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
}

.main-slider img.img-slide {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .main-slider img.img-slide {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .main-slider img:not(.img-slide) {
    width: 60%;
    padding-top: 30px;
  }
}

.main-slider .carousel-inner {
  position: relative;
}

.main-slider .carousel-inner::before {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
  content: '';
}

.main-slider .slider-text {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.main-slider .carousel-caption {
  height: calc(100% - 100px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 0px;
  left: 0px;
}

@media screen and (max-width: 768px) {
  .main-slider .carousel-caption {
    min-height: 100%;
  }
}

.main-slider .main-title {
  margin-top: 50px;
  margin-bottom: 25px;
  line-height: 74px;
  font-size: 62px;
  letter-spacing: 4px;
}

@media screen and (min-width: 1681px) {
  .main-slider .main-title {
    line-height: 93px;
    font-size: 76px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider .main-title {
    line-height: 50px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 0px;
  }
}

.main-slider .breif {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (min-width: 1681px) {
  .main-slider .breif {
    font-size: 21px;
    line-height: 34px;
  }
}

.main-slider a.custom-link {
  font-size: 18px;
  line-height: 20px;
  width: 320px;
  padding: 15px;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1681px) {
  .main-slider a.custom-link {
    font-size: 22px;
    line-height: 25px;
    padding: 20px;
    width: 345px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider a.custom-link {
    width: 100%;
  }
}

.main-slider .carousel-indicators {
  bottom: 30px;
}

@media screen and (min-width: 1681px) {
  .main-slider .carousel-indicators {
    bottom: 90px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider .carousel-indicators {
    display: none;
  }
}

.main-slider .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 0px 12px;
  border-radius: 100%;
  background-color: transparent;
  opacity: 1;
  border: 2px solid #fff;
}

.main-slider .carousel-indicators li.active {
  background-color: #fff;
}

.MainSlider img {
  width: 970px;
  height: 593.5218px;
}

.Slider img {
  width: 220.232px;
  height: 146.4543px;
  margin-right: 30px;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Start Css To TypeWrite */

.welcome {
  text-align: center;
  margin: 30px auto;
}

.welcome p {
  font-weight: bold;
  font-size: 25px;
}

/* End Css To TypeWrite */

/* Start Css To Image */

.carousel-inner .carousel-item {
  width: 100%;
}

.carousel-inner .carousel-item img {
  width: 100%;
  margin: 0 auto;
  box-shadow: -20px -10px 8px grey;
}

/* Start Css To Image */

/* Start Css To SameHeight */

.same-height {
  overflow: hidden;
  margin-top: 50px;
}

.same-height div {
  width: 30%;
  background-color: #45c2b4;
  float: left;
  padding: 10px;
  margin-right: 2%;
}

/* End Css To SameHeight */

/*Start Benefits */

.benefits .benefit1 {
  width: 250px;
  height: 300px;
  background-color: silver;
  position: relative;
  margin: 30px;
  transition: all 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.benefits .benefit1:first-child:hover {
  transform: rotateY(180deg);
}

.benefits .benefit1:nth-child(2):hover {
  transform: rotateX(180deg);
}

.benefits .benefit1:nth-child(3):hover {
  transform: rotateY(180deg);
}

.benefits .benefit1>div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.benefits .benefit1 .front {
  z-index: 2;
  backface-visibility: hidden;
  border: 1px solid rgb(128, 128, 128);
}

.benefits .benefit1 .front header {
  width: 100%;
  height: 180px;
  background-color: #45c2b4;
}

.benefits .benefit1 .front header img {
  width: 50%;
  border-radius: 50% 50%;
  position: relative;
  top: 25px;
}

.benefits .benefit1 .front h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.benefits .benefit1 .front span {
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  color: #45c2b4;
}

.benefits .benefit1 .back h4 {
  font-weight: bolder;
  color: #45c2b4;
  text-shadow: -10px 5px 8px #fff;
}

.benefits .benefit1 .back p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bolder;
  text-align: left;
  padding: 5px;
  margin-top: 30px;
}

.benefits .benefit1:nth-child(1) .back {
  z-index: 1;
  transform: rotateY(180deg);
}

.benefits .benefit1:nth-child(2) .back {
  z-index: 1;
  transform: rotateX(180deg);
}

.benefits .benefit1:nth-child(3) .back {
  z-index: 1;
  transform: rotateY(180deg);
}

.benefits .benefit1 .back span {
  font-weight: bolder;
  color: red;
}

/* Start Css To Photo */

.photo {
  height: 350px;
  background-color: #45c2b4;
  margin-top: 60px;
}

.photo .section1 {
  padding: 50px;
}

.Caption {
  margin-top: 50px;
  margin-bottom: -45px;
}

.Caption h4 {
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 8px grey;
  transition: all 1s ease-in-out;
}

.Caption h4:hover {
  color: #45c2b4;
  text-shadow: -10px 5px 8px grey;
}

/* End Css To Photo */

/*Start progrees bar */

.progrees {
  margin-bottom: 100px;
  border-bottom: 2px solid #45C2B4;
  border-top: 2px solid red;
}

.animate-progrees {
  width: 700px;
  height: 30px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.animate-progrees span {
  width: 0;
  height: 100%;
  display: block;
  width: 40%;
  color: white;
  line-height: 30px;
  text-indent: -18px;
  padding-left: 50px;
}

.progrees-blue span {
  background-color: #1abc9c;
}

.progrees-red span {
  background-color: #e74c3c;
}

.progrees-green span {
  background-color: #2ecc71;
}

.progrees-purple span {
  background-color: #9b59b6;
}

/*End progrees bar */

/* Start Css To Company */

.Head h3 {
  font-weight: bold;
  margin-bottom: 15px;
  background-color: white;
  padding: 20px;
  transition: all 1s ease-in-out;
}

.Head h3:hover {
  color: #45c2b4;
  text-shadow: -10px 5px 8px grey;
}

.Company {
  border: 5px solid #45c2b4;
  box-shadow: -10px -5px 8px #45c2b4;
}

.Company>div {
  padding: 20px 10px 10px;
}

.Company .company1, .Company .company2, .Company .company3, .Company .company4 {
  margin-bottom: 30px;
}

.Company>div a img {
  border-radius: 5px;
}

.Company .company1 a img {
  width: 100%;
  transition: all 1.5 ease-in-out;
}

.Company .company1 a img:hover {
  transform: rotate(90deg);
}

.Company .company2 a img {
  width: 100%;
  transition: all 2s ease-in-out;
}

.Company .company2 a img:hover {
  transform: rotate(360deg);
}

.Company .company3 a img {
  width: 100%;
  transition: all 1s ease-in-out;
}

.Company .company3 a img:hover {
  box-shadow: 10px 5px 8px grey;
}

.Company .company4 a img {
  width: 100%;
  transition: all 1s ease-in-out;
}

.Company .company4 a img:hover {
  width: 103%;
}

.Company>div a h3 span {
  color: grey;
  font-weight: bold;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
}

.Company>div a h3 span:hover {
  color: white;
  background-color: #45c2b4;
  border-color: #45c2b4;
}

/* End Css To Company */

/*Start progrees bar */

.Title {
  margin-bottom: -30px;
}

.Title h3 span {
  background-color: #eeeeee;
  font-size: 25px;
  font-weight: bold;
}

.All {
  padding: 30px;
  border-bottom: 2px solid #45C2B4;
  border-top: 2px solid red;
}

/* .progrees {
  margin-bottom: 100px;
  padding: 30px;
  border-bottom: 2px solid #45C2B4;
  border-top: 2px solid red;
} */

.progrees1 .animate-progrees {
  width: 700px;
  height: 30px;
  /* margin: 20px auto; */
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 5px;
  padding: 0;
}

.animate-progrees span {
  width: 0;
  height: 100%;
  display: block;
  width: 40%;
  color: white;
  line-height: 30px;
  text-indent: -18px;
  padding-left: 50px;
}

.progrees-blue span {
  background-color: #1abc9c;
}

.progrees-red span {
  background-color: #e74c3c;
}

.progrees-green span {
  background-color: #2ecc71;
}

.progrees-purple span {
  background-color: #9b59b6;
}

/*End progrees bar */

/************************ Start Css To Counter Up ********************************************/

.counter-up {
  background-color: #45C2B4;
}

.counter-up .counter1 {
  padding: 20px;
}

.counter-up .counter1 p {
  font-size: 20px;
  color: white;
}

.counter-up .counter1 .counter {
  font-size: 70px;
}

.counter-up .counter1 .icon-box {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  margin: 20px auto;
  transform: rotate(45deg);
}

.counter-up .counter1 .icon-box .fa {
  font-size: 40px;
  margin: 25px auto;
  transform: rotate(-45deg);
}

.main {
  max-height: 550px;
  ;
  background-color: #45C2B4;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}

.footer-distributed {
  background-color: #45C2B4;
  box-shadow: 0 1px 1px 0 #ffffff;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 10px 10px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h2 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h2 span {
  color: #fff;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: grid;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #fff;
  text-decoration: none;
  ;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/

.txt1 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #45c2b4;
  text-transform: uppercase;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #45c2b4;
  text-transform: uppercase;
}

/*==================================================================
[ Size ]*/

.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
  margin-top: 100px;
}

.wrap-contact100 {
  width: 1120px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

/*==================================================================
[ Contact more ]*/

.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input100, .rs2-wrap-input100 {
  width: 50%;
}

.rs2-wrap-input100 {
  border-left: none;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 2px solid #45c2b4;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/

.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #00ad5f;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px 30px;
  }
  .contact100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }
  .contact100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px 15px;
  }
  .rs1-wrap-input100, .rs2-wrap-input100 {
    width: 100%;
  }
  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Start Media To About */

/* Start Media To Progrees */

@media (min-width: 841px) and (max-width: 899px) {
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 840px) {
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 20px 0 0 0;
  }
}

@media (min-width: 567px) and (max-width: 767px) {
  .benefits .benefit1 {
    margin-left: 135px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 7px;
    margin-top: 30px;
  }
  /* Start Media To Photo */
  .photo {
    height: 310px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 60%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 576px) and (max-width: 649px) {
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 70%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 551px) and (max-width: 575px) {
  .benefits .benefit1 {
    margin-left: 150px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
  }
  /* Start Media To Photo */
  .photo {
    height: 310px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 85%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 541px) and (max-width: 550px) {
  .benefits .benefit1 {
    margin-left: 140px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
  }
  /* Start Media To Photo */
  .photo {
    height: 300px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 85%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 526px) and (max-width: 540px) {
  .benefits .benefit1 {
    margin-left: 130px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
  }
  /* Start Media To Photo */
  .photo {
    height: 300px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 85%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 501px) and (max-width: 525px) {
  .benefits .benefit1 {
    margin-left: 115px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
  }
  /* Start Media To Photo */
  .photo {
    height: 300px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 85%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

/* Width 400px*/

@media (min-width: 451px) and (max-width: 500px) {
  .benefits .benefit1 {
    margin-left: 100px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
  }
  /* Start Media To Photo */
  .photo {
    height: 270px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 80%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 426px) and (max-width: 450px) {
  .benefits .benefit1 {
    margin-left: 88px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 25px;
  }
  /* Start Media To Photo */
  .photo {
    height: 250px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 80%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}

@media (min-width: 400px) and (max-width: 425px) {
  .benefits .benefit1 {
    margin-left: 75px;
  }
  .benefits .benefit1 .front header img {
    position: relative;
    top: 30px;
  }
  .benefits .benefit1 .back p {
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
  }
  /* Start Media To Photo */
  .photo {
    height: 230px;
  }
  /* Start Media To Company */
  .Company .company1 a img, .Company .company2 a img, .Company .company3 a img, .Company .company4 a img {
    width: 80%;
  }
  /* Start Media To Progrees */
  .All .progrees1 .write h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 -10px;
  }
}